<div class="container">
    <div class="cart-container">
        <div class="cart-panel">
            <div class="totalCost" *ngIf="cartItems.length" >
                Total Cost ${{totalCost}}
            </div>
            <app-cart-item  class="cart-item" *ngFor="let cartItem of cartItems" [cartItem]="cartItem" (deleted)="deleted(cartItem)"></app-cart-item>
            <h2 *ngIf="!cartItems.length"> Cart Empty</h2>
        </div>
        <div class="form-margin">
            <app-submit-form  [cartItem]="cartItems"></app-submit-form>
        </div>
    </div>
</div>

