
<div class="product-container">
         <!-- <p>id  {{item.id}} </p> -->
        <img class="product-image" [src]='item.url'/>
        <a  routerLink="productItemDetail/{{item.id}}"><h2>{{item.name}}</h2></a> 
        <div>price {{item.price | currency}}</div>
        <select class="select-input" id="numberSelect" #numberSelect> 
            <option value=1>1 </option>
            <option value=2>2 </option>
            <option value=3>3 </option>
            <option value=4>4 </option>
            <option value=5>5 </option>
            <option value=6>6 </option>
            <option value=7>7 </option>
            <option value=8>8 </option>
            <option value=9>9 </option>
            <option value=10>10 </option>
        </select>
        <button class="btn " (click)="addToCart(item,numberSelect.value)">Add</button>
</div>
<ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''"
	>{{ successMessage }}
</ngb-alert>